export const mentionlist = new Map([
  ['@channel', '<!channel>'],
  ['@here', '<!here>'],
  ['@your[-0-9A-Za-z]*', '<@UXXXXXXXX>'],
  ['あなたさん', '<@UXXXXXXXX>'],
]);

export const statuslist = new Map([
  ["1", '未対応'],
  ["2", '処理中'],
  ["3", '処理済み'],
  ["4", '完了'],
]);

export const prstatuslist = new Map([
  ["1", 'Open'],
  ["2", 'Rejected'],
  ["3", 'Merged']
]);
